@model FilesListViewModels
<h2>Welcome @ViewBag.Login </h2>
<h3>upload files in format .zip</h3>
<html>

<head>
    <script src="C:\Users\denis lipatov\.nuget\packages\bootstrap\4.5.2\contentFiles\any\any\wwwroot\js\bootstrap.js"></script>
    <link href="C:\Users\denis lipatov\.nuget\packages\bootstrap\4.5.2\contentFiles\any\any\wwwroot\css\bootstrap-grid.css" rel="stylesheet" />
    <link href="C:\Users\denis lipatov\.nuget\packages\bootstrap\4.5.2\contentFiles\any\any\wwwroot\css\bootstrap-reboot.css" rel="stylesheet" />
    <link href="C:\Users\denis lipatov\.nuget\packages\bootstrap\4.5.2\contentFiles\any\any\wwwroot\css\bootstrap.css" rel="stylesheet" />
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark  bg-dark">

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>

        </div>
        <h3>Select file to download</h3>
        <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="file" name="uploadedFile" /><br>
            <input type="submit" value="Upload" />
        </form>
    </nav>
    <div class="container">
        @foreach (var item in Model.GetAllFiles)
        {
            @await Html.PartialAsync("File", item)
        }
    </div>
</body>

</html>